.search-container {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(
    174.2deg,
    rgba(255, 244, 228, 1) 7.1%,
    rgba(240, 246, 238, 1) 67.4%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
  box-shadow: inset 5px 0px 10px 1px rgba(110, 101, 101, 0.486);
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-color: rgba(129, 96, 221);
  padding: 10px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  padding: 24px 20px;
  font-size: 20px;
  color: #000;
  font-family: inherit;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  border: none;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transition: 0.3s ease;
  font-size: 16px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.486);
  cursor: pointer;
}
.search-bar button:hover {
  box-shadow: 5px 5px 5px 0.5px rgba(0, 0, 0, 0.486);
  transform: translateY(2px);
  background-color: rgba(220, 220, 220, 0);
}

.search-bar button:active {
  background-color: gainsboro;
  box-shadow: 3px 3px 3px 0.25px rgba(0, 0, 0, 0.486);
  transform: translateY(4px);
}
